{% extends 'base.html.twig' %}

{% block body %}<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt dolorem eos error, eum eveniet excepturi fugit nihil nobis numquam
    omnis optio perferendis qui reiciendis repellendus saepe, similique unde, voluptatum!</p>
{% endblock %}