{% extends 'base.html.twig' %}
{%  block body %}
    {% if (wish.isPublished) %}
        <h2>{{ wish.title }}</h2>
        <i>{{ wish.author }} le {{ wish.dateCtreated|date("d/m/Y") }}</i>
        <p>{{ wish.description }}</p>
    {% endif %}
{% endblock %}