body{

    font-family: Candara;
}
header{
    background: darkgreen;

    padding: 2em;
}

footer{
    text-align: center;
}
.titre{
    margin: 0;
}
content{
    height: 50em;
    background: darkgrey;
}